<div class="col-sm-10 col-sm-offset-1 well">
  <h2 ng-hide="done">Getting a Random Beer...</h2>
  <h2 ng-show="done">{{beer.name}}</h2>
  <div class="beer">
    <div class="row">
      <img class="img col-sm-4" ng-src="{{beer.labels.medium}}">
      <div class="col-sm-8 beer_data">
        <span>Style: {{beer.style.name}}</span>
        <span>Style Description: {{beer.style.description}}</span>
        <span>ABV Max: {{beer.style.abvMax}}</span>
        <span>ABV Min: {{beer.style.abvMin}}</span>
        <span>Available: {{beer.available.description}}</span>
        <span>Glass: {{beer.glass.name}}</span>
      </div>
    </div>
    <p class="beerDesc">{{beer.description}}</p>
  </div>
  <button class="btn btn-default" ng-click="getRandomBeer()">Get Another!</button>
  <button class="btn btn-success" ng-click="sample()">Sampled?</button>
  <ng-check show="showRate"></ng-check>
  <div ng-show="rateAndComment" class="form-group">
    <label for="rate">Rate (1-10, 10 is highest): </label>
    <input id="rate" type="number" min="1" max="10" class="form-control" ng-model="rate.rating">
    <label for="comment"></label>
    <input id="comment" type="text" class="form-control" ng-model="rate.comment">
    <button class="btn btn-success" ng-click="saveUserRate(rate)">Save</button>
  </div>
</div>